<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <table>
        <tr>
          <th style="border-top-left-radius: 12px">
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Usertype
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
          <th style="border-top-right-radius: 12px">
            Details
          </th>
        </tr>
        <tr>
          <td>
            <!-- con il binding bidirezionale [(ngModel)] mentre scriviamo nell'input
            viene modificato l'attributo di dto in tempo reale-->
            <input placeholder="username" [(ngModel)]="usertoinsert.login">
          </td>
          <td>
            <input placeholder="password" [(ngModel)]="usertoinsert.password">
          </td>
          <td>
            <select placeholder="usertype" [(ngModel)]="usertoinsert.authorities">
              <option value="ROLE_ADMIN">ROLE_ADMIN</option>
              <option value="ROLE_USER">ROLE_USER</option>
            </select>
          </td>
          <td>
            <button (click)="insert(usertoinsert)"><i class="fas fa-plus"></i>Insert</button>
          </td>
          <td>
            <button (click)="clear()"><i class="fas fa-times"></i>Clear</button>
          </td>
        </tr>
        <tr *ngFor="let user of users">
          <td>
            <input [(ngModel)]="user.login">
          </td>
          <td>
            <input [(ngModel)]="user.password">
          </td>
          <td>
            <input [(ngModel)] = "user.authorities">
          </td>
          <td>
            <button (click)=update(user)><i class="fas fa-edit"></i>Edit</button>
          </td>
          <td>
            <button (click)="delete(user)"><i class="fas fa-trash"></i>Delete</button>
          </td>

        </tr>
        <tr>
          <th style="border-bottom-left-radius: 12px">
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
          </th>
          <th style="border-bottom-right-radius: 12px">
          </th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-1">
      <!-- colonna vuota per centrare i dettagli-->
    </div>

    <div class="col-md-1">
      <!-- colonna vuota per centrare i dettagli-->
    </div>
  </div>
</div>
