<h3>
  <!-- | uppercase è un pipe, trasforma la stringa mettendo tutte le lettere maiuscole-->
  {{dto.login | uppercase }}'S DETAILS
</h3>
<table>
    <tr>
      <th style="border-top-left-radius: 12px">
        ID
      </th>
      <th>
        Username
      </th>
      <th>
        Password
      </th>
      <th>
        Usertype
      </th>
      <th>
        Edit
      </th>
      <th style="border-top-right-radius: 12px">
        User
      </th>
    </tr>
    <tr>
      <td>
        <span>
          {{dto.id}}
        </span>
      </td>
      <td>
        <input [(ngModel)]="dto.login">
      </td>
      <td>
        <input [(ngModel)]="dto.password">
      </td>
      <td>
        <select placeholder="usertype" [(ngModel)]="usertoinsert.authorities">
          <option value="ROLE_ADMIN">ROLE_ADMIN</option>
          <option value="ROLE_USER">ROLE_USER</option>
        </select>
      </td>
      <td>
          <button (click)=update(dto)><i class="fas fa-edit"></i>Edit</button>
        </td>
        <td>
          <button (click)="delete(dto.id)"><i class="fas fa-trash"></i>Delete</button>
        </td>
    </tr>
  </table>
