form {
    align-content: center;
    position: center;
    margin-top: 6%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: auto;
    width: 45vh;
    border-radius: 0;
    border-color: #ffffff;
}
.login-box{
    text-align: center;
    width: 80vh;
    height: 80vh;
    background: rgba(255, 255, 255);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.loginform {
    position: relative;
    top: 45vh;
    display: inline-block;

    
}


img {

    margin-top: 12%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 1%;
    width: 45%;
}

input, input:hover, input::selection, input:checked, input:focus {
    border: 0;
    background-color: #bddcf8;
    border-radius: 6px;
    color: #424242;
    border-bottom: 1px solid #1361A4;
    margin: 0px;
}

.container-fluid {
    position: absolute;
    margin-right: auto;
    margin-left: auto;   
    background-color: #ffffff;
}

.background {
    height: 100%;
    width: 100%;
    background: #1890ff;
    background: linear-gradient(135deg, #1890ff 30%, #6b5695 100%);
}

input::placeholder {
    color: #424242;
}

.form-control {
    width: 35vh;
    min-width: 30vh;
    border-radius: 6px;
    border: none;
    background-color: #bddcf8;
    border-bottom: 1px solid white;
    box-align: center;
}



.login {
    border: none;
    background-color: #bddcf8;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding-top: 10px;
    padding-right: auto;
    padding-bottom: 10px;
    padding-left: auto;
}

p {
    font-size: 14px;
    color: #000000;
}

.loginbutton {
    background: #1890ff;
    background: linear-gradient(135deg, #1890ff 30%, #6b5695 100%);; 
    border: none;
    border-radius: 6px;
    color: white;
    padding: 8px 8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.loginbutton:hover {
    background: #59A8EE;
}
